@{
    Layout = "_Layout";
}

@using EconomicUI.Models

<h1>All States:</h1>

<ol>
@foreach (State state in Model)
{
    <ul>
        <li>ID: @state.StateId</li>
        <li>Name: @state.Name</li>
        <li>GDP: @state.GDP</li>
        <li>Main Import: @state.MainImport</li>
        <li>Main Export: @state.MainExport</li>
    </ul>
    <a href="/States/Details/@(state.StateId)"><p>View Details</p></a>
    <br>
}
</ol>
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />